
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');



:root{
    --unique:#FF0000;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*General*/
.custom-btn{
    background: var(--unique);
    transition: all 0.3 ease;
    border: none;
    outline: none;
}
.custom-btn:hover{
    background:black;
}
a{
    text-decoration: none !important;
}
.max-width{
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}

section .title{
    position: relative;
    text-align: start;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 45px;
    padding-bottom: 10px;
    border-bottom: var(--unique) 1px solid;
    color: gray;
}
section .title span{
    color: var(--unique);
}

section .title::before{
    content: "";
    height: 8px;
    width: 120px;
    background-color:var(--unique);
    position:absolute;
    bottom:-8px;

}

/*home styling*/
.navbar-s{
    background:black;
    z-index: 999;
    transition: all 0.3s ease;
    
}

.home {
    background: url('jw.jpg') no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 10px;
  }
  .navbar-s .logo h2{
    font-family: 'Source Code Pro', monospace;
    color: var(--unique) !important;
  }
  .navbar-s .menu li{
    display: inline-block;
    list-style: none;
  }
  .navbar-s .menu li a{
    transition: color 0.3s ease;
    position: relative;
  }
  .navbar-s .menu li a::after{
    content: "";
    height: 3px;
    background-color: var(--unique);
    width:0px;
    position: absolute;
    border-radius: 0.5rem;
    left: 0;
  bottom: -3px;
  transition: all 0.3s ease;
   }
   .navbar-s .menu li a.active::after,.navbar-s .menu li a:hover:after{
    width: 70%;
   }
   .navbar-s .menu li a.active,.navbar-s .menu li a:hover{
    color: var(--unique) !important;
   }
   .home .max-width{
    max-width: 1300px;
    padding: 0 20px;
    margin: auto;
}
   .home .home-content{
    align-items: center;
    position: relative;
    top:40%;
   }
  
   .home .home-content .text{
    font-size: 40px;
    color: white;
    font-weight: 800;
    text-align: center;
    
   }
   .scroll-up-btn {
    height: 45px;
    width: 42px;
    background: var(--unique);
    line-height: 45px;
    z-index: 9999;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
  }
  .scroll-up-btn:hover {
    filter: brightness(90%);
  }
   /*About Styling*/
   .about {
    padding: 100px 0px !important;
    background-color:#f5f5f5;
   }
   .about .about-content,.skills .skill-content .row-s,.services .serve-content,.contact .contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .about .about-content text {
    font-size: 25px;
  font-weight: 600;
   }
   .about .about-content p{
    text-align: justify;
   }
   
   .about .about-content img{
    float: right;
   }
   /*Skills styling*/
   .skills{
    padding: 100px 0px !important;
   }
   .skills .skill-content .card {
    display: flex;
    justify-content: center;
    align-items: center;
   
    border: none;
   }
   .skills .skill-content .card .logo i{
    
    font-size: 25px;
   }
   .skills .skill-content .card .card-content h2{
        text-align: center;
        font-weight: bold;
        font-size: 27px;
        font-family: 'Josefin Sans', sans-serif;
   }
   .skills .skill-content .card .card-content p{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
}
/*services styling starts*/
.services {
        padding: 100px 0px !important;
        background:#f5f5f5
}
.services .serve-content .card{
    width: calc(33% - 20px);
    cursor: pointer;
    box-shadow: rgb(0 0 0/10%) 0px 0px 40px 0px;

  }
  .services .serve-content .card .text{
    font-size: 25px;
    font-weight: 500;
  }
  .services .serv-content .card p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /*experience styling */
  .experience{
    padding: 100px 0px;
    
  }
  .experience .experience-content .exp {
   
    height: 80px;
    background-color:var(--unique);
    color: white;
    border-radius: 30px;
    margin: 20px;
  }
  .experience .experience-content .exp .text i {
    margin-top: 12px;
    margin-left: 50px;
  }
  .experience .experience-content  .exp1{
    width: 55%;

  }
  .experience .experience-content  .exp2{
    width: 60%;

  }
  .experience .experience-content  .exp3{
    width: 65%;
  }
  .experience .experience-content  .exp4{
    width: 70%;
  }
  .experience .experience-content  .exp5{
    width: 75%;
  }
  .experience .experience-content .exp:hover{
    width: 80%;
    background-color: #e93434;
    transition: all 0.4s ease;
  }
  /*Contact styling*/
  .contact {
    padding: 100px 0px !important;
    background-color:#f5f5f5;
   }
  .contact .contact-content .column {
    width: calc(50% - 30px);
  }
  .contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .contact .contact-content .left p {
    text-align: justify;
  }
  .contact .contact-content .left .icons {
    margin: 10px 0;
  }
  .contact .contact-content .row-s{
    display: flex;
    height: 65px;
    align-items: center;
  }
  .contact .contact-content .row-s .info {
    margin-left: 30px;
  }
.contact .contact-content .info .head{
  font-weight: 600;
}
.contact .contact-content .row-s .info .sub-title{
  color: gray;
}
.contact .contact-content .row-s i{
  font-size: 27px;
  color: var(--unique);
}
.contact .contact-content .right .fields{
  display: flex;
}
.contact .contact-content .right input, .contact .contact-content .right textarea{
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid lightgrey;
  outline: none;
}
/*Responsive styling*/
@media  (max-width:992px){
  .max-width {
    padding: 0 50px;
  }
  .menu-btn{
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: '\f00d';
    
  }
  .navbar-s .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    background: black;
    transition: all 0.3s ease;
    padding-top: 80px;
  }
  .navbar-s .menu.active {
    left: 0;
  }
  .navbar-s .menu li {
    display: block;
  }
  .navbar-s .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar-s .menu li a::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-s .menu li a.active::after,
  .navbar-s .menu li a:hover::after {
    width: 60px;
  }
  .home .home-content .text{
    font-size: 27px;
  }
  .about .about-content img{
    width: 100%;
  }
  .max-width {
    max-width: 930px;
  }
  .services .serve-content .card {
    width: 100% !important;
    margin-bottom: 20px;
  }
 .experience .experience-content .exp{
   
  height: 80px;
  background-color:var(--unique);
  color: white;
  border-radius: 30px;
  
 }
 .experience .experience-content .exp .time h5,.experience .experience-content .exp .text h5{
  font-size: 17px;
  overflow: hidden;
  
 }
 .experience .experience-content  .exp1{
  width: 100%;

}
.experience .experience-content  .exp2{
  width: 100%;

}
.experience .experience-content  .exp3{
  width: 100%;
}
.experience .experience-content  .exp4{
  width: 100%;
}
.experience .experience-content  .exp5{
  width: 100%;
}
.experience .experience-content .exp:hover{
  width: 100%;
  background-color: #e93434;
  transition: all 0.4s ease;
}
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;

  }
}